body {
box-sizing: border-box;

}

.container {
    background-color: #f5f5f5;
    width: 340px;
    height: 215px;
    padding-left: 9px;
    padding-right: 10px;
    padding-top: 15px;
    margin-left: 8px;
}


.content a {
    margin-left: 5px;
}

h3 {
    margin-top: 30px;
}

.header {
    margin-top: -42px;
}

.link {
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 5px;
    text-decoration: none;
}

